<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLnOWqzlH9HaducAfgyqHom5Qo2JH0U4c</string>
	<key>GCM_SENDER_ID</key>
	<string>631628562411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiDrivenEssayApplicationFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatgptbasedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgptbasedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631628562411:ios:a0b1f163d52799016ea3ae</string>
</dict>
</plist>